@using System;
@model TimeStamp
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center p-5">
<div class="row justify-content-around">
    <div class="col sm-4 mt-4">
        <div class="text-center">
            <div class="card m-auto" style="width: 18rem;">
            <div class="card-header">
                Log On
            </div>
            <ul class="list-group list-group-flush">        
                <form asp-action="CreateStamp" asp-controller="Home" method="POST">
                    
                    <li class="list-group-item">
                        <div class="form-group">
                            <input type="text" class="form-control" name="ID" placeholder="ID Number">
                            <span asp-validation-for="ID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="Pin" placeholder="Four Digit Pin">
                            <span asp-validation-for="Pin" class="text-danger"></span>
                        </div>
                        <div class='form-group'>
                            <input class="form-control" asp-for="Job" placeholder= "Enter Job Name">
                            <span asp-validation-for="Job" class="text-danger"></span>
                        </div> 
                        <button type="submit" class="btn btn-primary m-2">Log on</button>
                    </li>
                </form>
            </ul>
            </div>
        </div>
    </div>
    <div class="col sm-3 mt-4">
        <div class="text-center">
            <div class="card m-auto" style="width: 18rem;">
            <div class="card-header">
                Log Out
            </div>
            <ul class="list-group list-group-flush pt-2">        
                <form asp-action="Logout" asp-controller="Home" method="POST">
                    <li class="list-group-item pb-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="ID" placeholder="ID Number">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="Pin" placeholder="Four Digit Pin">
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary m-2">Log Off</button>
                    </li>
                </form>
            </ul>
            </div>
        </div>
    </div>
    <div class="col sm-3 mt-4">
        <div class="card m-auto" style="width: 18rem; height: 18rem;">
            <div class="card-header">
                    Current Time
            </div>
            <h3 class="text-secondary" style="padding-top: 25%;">
                <div id="time"></div>
                <div id="date"></div>
            </h3>
        </div>
    </div>
</div>
</div>
<div style="max-height: 25rem; overflow: auto">
    <table class="table table-light text-center">
    <thead>
        <tr>
            <th scope="col">User ID#</th>
            <th scope="col">Name:</th>
            <th scope="col">Job:</th>
            <th scope="col">Time:</th>
            <th scope="col">Time Logged:</th>
        </tr>
    </thead>
    <tbody>
        @foreach(TimeStamp stamp in ViewBag.Stamps)
        {
            @if(stamp.Job == null)
            {
            <tr class="text-danger">
                <td>@stamp.UserId</td>
                <td>@stamp.User.Name</td>
                <td>Logged Off</td>
                <td>@stamp.CreatedAt</td>
                <td></td>
            </tr>
            }
            else
            {
                <tr>
                    <td>@stamp.UserId</td>
                    <td>@stamp.User.Name</td>
                    <td>@stamp.Job</td>
                    <td>@stamp.CreatedAt</td>
                    @if(stamp.timeSpent.TotalMinutes > 0)
                    {
                        <td>@Math.Floor(@stamp.timeSpent.TotalHours) Hours, @stamp.timeSpent.Minutes Minutes</td>
                    }
                    else
                    {
                        <td></td> 
                    }
                </tr>
            }
        }
    </tbody>
</table>
</div>

